/* Fons de la pàgina */
body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

/* Títol principal */
h1 {
  color: black;
  text-align: center;
  font-size: 28px;
  background-color: #004488;
  padding: 15px;
  border-radius: 10px;
}
