/* Fons de la pàgina */
body {
  background-color: #e4ebeb;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

/* Títol de la pàgina*/
.titol-container {
  color: black;
  text-align: center;
  padding: 10px;
  border: 3px solid black; /* Marc negre */
  border-radius: 10px; /* Cantonades arrodonides */
  display: block; /* Permet que ocupi tot l'ample necessari */
  background-color: #e4ebeb; /* Mateix fons que la pàgina */
  margin: 20px auto; /* Centra el requadre horitzontalment */
  max-width: 80%; /* Evita que sigui massa ample */
}

.titol-container h1 {
  margin: 0; /* Elimina marges adicionales */
  font-size: 16px;

}

.titol-container h3 {
  margin: 5px 0 0; /* Petit marge superior */
  font-size: 14px; 
}

/* Descripció de la cartografia*/
p {
  color: black; 
  font-size: 10px;
}

/* Autoria*/
h5 {
  color: black; 
  font-size: 12px;
}
